<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="redwinecorp.misvinos" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Inicio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MisVinos"
            android:label="@string/title_activity_mis_vinos"
            android:parentActivityName=".Inicio" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".EditarVino"
            android:parentActivityName=".MisVinos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MisVinos" />
        </activity>
        <activity
            android:name=".VerVino"
            android:parentActivityName=".MisVinos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MisVinos" />
        </activity>
        <activity
            android:name=".BuscarVino"
            android:parentActivityName=".MisVinos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MisVinos" />
        </activity>
        <activity
            android:name=".MisGrupos"
            android:label="@string/title_activity_mis_grupos"
            android:parentActivityName=".Inicio" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".EditarGrupo"
            android:parentActivityName=".MisGrupos" >
        </activity>
    </application>

</manifest>
