<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="redwinecorp.misvinos" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Inicio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MisVinos"
            android:label="@string/title_activity_mis_vinos" >
        </activity>

        <activity
            android:name=".EditarVino" >
        </activity>

        <activity
            android:name=".VerVino" >
        </activity>

        <activity
            android:name=".BuscarVino">
        </activity>

        <activity
            android:name=".MisGrupos"
            android:label="@string/title_activity_mis_grupos" >
        </activity>

        <activity
            android:name=".EditarGrupo">
        </activity>
    </application>

</manifest>
